# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
coverage.txt

# Dependency directories (remove the comment below to include it)
# vendor/

# Temporary files
*.tmp
.temp/

# Go workspace file
go.work
go.work.sum

# Distribution files
dist
exports/

# Environment/credential files
.env
cosign.key

# GitHub secret scanning
.cache_ggshield

# Go modules
.golangci.reference.yml

# Copied files
*?copy.*
*?old.*

# Unused GitHub
.github/workflows/docker-build.yml
.github/workflows/bump.yml
.github/workflows/ci.yml
.github/workflows/labels.yaml
.github/workflows/release.yml
.github/workflows/action.yml

# Markdown
*.md
*.markdown
*.mdown
*.mkd?
*.mdwn
*.mdx
!README.md

# Editor
# .vscode/
.vs/
.idea/
